.colorText {
	color: green;
}


.headerTable{
	text-align: cennter;
	background: none repeat scroll 0 0 #8080c0;
	border-bottom: 1 px solid #bbbbbb;
	padding: 32px;
}

.rowTable{
	text-align: center;
	background: none repeat scroll 0 0 #FFFFFF;
	border-top: 1px solid #BBBBBB;
}


.rowTableLine{
	text-align: center;
	background: none repeat scroll 0 0 #c0c0c0;
	border-top: 1px solid #BBBBBB;
}